body {
    background-color: #EDFFF1;
}

.navbar-brand img {
    max-width: 150px;
}

.navbar-nav a {
    color: #32713F;
}

.col-actions{
    width: 90px;
}

textarea {
    resize: none;
}

.qr-code-outline {
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
